{% case section.settings.header_type %}
  {% when 'header1' %}
    <header class="header header1">
      <ul class="header1__collections-nav">
        {%- if section.settings.menu != blank  -%}
        <li class="header1__collection-link">
          <a href="/link">Link top <i class="fas fa-chevron-down"></i> </a>
          <ul class="collection-link__sub-links">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </li>
        <li class="header1__collection-link">
          <a href="/link">Link</a>
        </li>
      {%- endif  -%}
      </ul>
      <div class="header1__logo">
        <a href="{{ routes.root_url }}">
          {%- if settings.logo != blank -%}
            <div class="header__heading-logo-wrapper">
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
              {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
              {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
              {{
                settings.logo
                | image_url: width: 600
                | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
              }}
            </div>
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}
        </a>
      </div>
      <ul class="header1__collections-nav">
        {%- if section.settings.menu != blank  -%}
        <li class="header1__collection-link">
          <a href="/link">Link top <i class="fas fa-chevron-down"></i> </a>
          <ul class="collection-link__sub-links">
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </li>
        <li class="header1__collection-link">
          <a href="/link">Link</a>
        </li>
        <li class="header1__collection-link">
          <a href="/link">Link</a>
        </li>
      {%- endif -%}
        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        <a href="/cart"><i class="fas fa-user"></i></a>
      </ul>
    </header>
  {% when 'header2' %}

  {% when 'header3' %}

{% endcase %}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "header_type",
      "label": "Type of header",
      "options": [
        {
          "value": "header1",
          "label": "Header 1"
        },
        {
          "value": "header2",
          "label": "Header 2"
        },
        {
          "value": "header3",
          "label": "Header 3"
        }
      ],
      "default": "header1",
      "info": "Choose a header for your layout"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
